<%- include('../includes/start.ejs')%>
<link rel="stylesheet" href="/css/configure.css">
</head>

<body>
	<div class="container">
		<% if(errorMessage) { %>
		<div class="user-message user-message--error"><%= errorMessage %></div>
		<% } %>
		<h4>Hello <%= user.first_name %>, one more step to go !🛫</h4>
		<span>Tell us more about yourself to have the best experience with us</span>
		<div class="form-container">
			<form action="/configure" method="POST" autocomplete="off">
				<p><%= user.account_uid === '4dbc4cb7-7ee6-4d04-a1ba-364ea6a5c949' ? 'Choose the category(ies) of car(s) that you repair' :'Your category(ies) of car(s)'%>
					e.g heavy engine, small engine</p>
				<ul class="carType">
					<% for(let i = 0; i < carTypes.length; i++) {%>
					<li class="col-4 ">
						<input type="checkbox" name="<%= carTypes[i].type_of_car_name %>" id="vehicle<%= i+1 %>"
							value="<%= carTypes[i].type_of_car_uid %>">
						<div class="icon-box">
							<label for="vehicle<%= i+1 %>" class="">
								<emoji><%= emoji.get(carTypes[i].type_of_car_name) %></emoji>
							</label>
						</div>
					</li>
					<% }%>
				</ul>
				<p><%= user.account_uid === '4dbc4cb7-7ee6-4d04-a1ba-364ea6a5c949' ? 'Choose the brand(s) of cars that you repair' :'Your car(s) brand'%>
					e.g merceds, bmw</p>
				<div class="check-box__container">
					<ul class="ks-cboxtags">
						<% for(let i= 0; i < carBrands.length; i++) {%>
						<li><input type="checkbox" id="chechbox<%= i %>" name="<%= carBrands[i].brand_of_car_name %>"
								value="<%= carBrands[i].brand_of_car_uid %>"><label
								for="chechbox<%= i %>"><%= carBrands[i].brand_of_car_name %></label></li>
						<% } %>
					</ul>
				</div>
				<input type="submit" class="btn btn-primary" value="welcome 🎊🎊🎊">
			</form>
		</div>
	</div>
	<%- include('../includes/end.ejs')%>