<%- include('../includes/start.ejs')%>
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/password.css">
</head>

<body>
    <%- include('../includes/adminnav.ejs')%>
    <div class="container passwordPage">
        <% if(errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <div class="top-nav">
            <a href="/profile">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Change Password</p>
        </div>
        <form action="/changePass" method="POST" class="form-changePassword">
            <input type="password" placeholder="old password" name="oldPassword" value="">
            <input type="password" placeholder="new password" name="newPassword" value="">
            <input type="password" placeholder="Confirm new password" name="confirmPassword" value="">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submitbutton" class="btn btn-primary">Change Password</button>
        </form>
    </div>
    <%- include('../includes/end.ejs')%>