<%- include('../includes/start.ejs')%>
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <%- include('../includes/adminnav.ejs')%>
    <div class="container chatPage">
        <div class="chat-container">
            <div class="chat-container__contacts">
                <div class="top-nav">
                    <a href="/home">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </a>
                    <div class="top-nav__title">
                        <p>Direct</p>
                    </div>
                </div>
                <ul class="contacts-body__list">
                    <% for (let i =0; i < users.length; i++) {%>
                    <li>
                        <a href="chat/<%= users[i].chatroom_uid %>">
                            <div class="contacts-profile">
                                <img src="../<%= users[i].profile_pic %>" alt="">
                                <div class="contact-info">
                                    <small><%= users[i].first_name%> <%= users[i].last_name%></small>
                                    <small>online</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <div class="chat-container__chats">
                <div class="chat-announcement">
                    <div class="annoncement-text">
                        <p>Follow someone or click on their <ion-icon name="paper-plane-outline"></ion-icon> icon to chat with them!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('../includes/end.ejs')%>