<%- include('../includes/start.ejs')%>
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/chatUser.css">
</head>

<body>
    <%- include('../includes/adminnav.ejs')%>
    <div class="container chatPage">
        <div class="chat-container">
            <div class="chat-container__contacts">
                <div class="top-nav">
                    <div class="top-nav__title">
                        <p>Direct</p>
                    </div>
                </div>
                <ul class="contacts-body__list">
                    <% for (let i =0; i < users.length; i++) {%>
                    <li>
                        <a href="<%= users[i].chatroom_uid %>">
                            <div class="contacts-profile">
                                <img src="../<%= users[i].profile_pic %>" alt="">
                                <div class="contact-info">
                                    <small><%= users[i].first_name%> <%= users[i].last_name%></small>
                                    <small>online</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <div class="chat-container__chats">
                <div class="chat-container__chats-title">
                    <a href="/chat">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </a>
                    <div class="chats-title">
                        <img src="../<%= user.profile_pic %>" alt="">
                        <div class="chats-title__info">
                            <small><%= otherUser.first_name%> <%= otherUser.last_name%></small>
                            <small>online</small>
                        </div>
                    </div>
                </div>
                <div class="chat-container__body">
                    <div class="chat-container__body-texts" id="output">
                        <%for (let i = 0; i < messages.length; i++) {%>
                        <div class="<%= messages[i].from_uid === currentUser? 'message-chat chat-home': 'message-chat chat-away'%>">
                            <p><%= messages[i].message %></p>
                            <small><%= messages[i].time %></small>
                        </div>
                        <%}%>
                    </div>
                    <div class="chat-container__body-input">
                        <form class="main-messages__input">
                            <input type="text" name="message" id="message" placeholder="message..." autocomplete="off">
                            <input type="hidden" name="chatRoom" value="<%= chatRoom %>" id="chatRoom">
                        <input type="hidden" name="otherUser" value="<%= otherUser.user_uid %>" id="otherUser">
                        <input type="hidden" name="currentUser" id="currentUser" value="<%= currentUser %>">
                        <button id="sendMessage">
                            <ion-icon name="paper-plane-outline"></ion-icon>
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/userChats.js"></script>
    <%- include('../includes/end.ejs')%>