<%- include('../includes/start.ejs')%>
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/password.css">
</head>

<body>
    <%- include('../includes/adminnav.ejs')%>
    <div class="container passwordPage">
        <% if(errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <div class="top-nav">
            <a href="/profile">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Edit profile</p>
        </div>
        <form action="/profile/edit" class="form-editProfile" enctype="multipart/form-data" method="POST">
            <div class="profile-image">
                <img src="../<%= user.profile_pic %>" alt="">
            </div>
            <input type="file" name="image" id="" value="<%= user.profile_pic%>">
            <input type="text" name="email" placeholder="Your email" value="<%= user.email%>">
            <input type="text" name="site" placeholder="" value="<%= user.website? user.website :''%>">
            <input type="tel" name="telephone" placeholder="" value="0<%=user.telephone%>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="submit" value="Edit">
        </form>
    </div>
    <%- include('../includes/end.ejs')%>