<%- include('../includes/start.ejs')%>
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('../includes/adminnav.ejs')%>
    <div class="container main-container">
        <div class="top-nav">
            <p>ENGINEAR</p>
            <!-- <div class="search-container">
                <input type="text" name="search" id="" placeholder="Search">
            </div> -->
            <a href="/chat">
                <ion-icon name="paper-plane-outline"></ion-icon>
            </a>
        </div>
        <div class="main-user__container-block">
            <% for (let i = 0; i < users.length; i++) { %>
            <div class="user-container">
                <div class="user-container__profile">
                    <div class="user-container__profile_header">
                        <div class="profile-header__name">
                            <img src="<%= users[i].profile_pic %>" alt="">
                            <p><%= users[i].first_name %> <%= users[i].last_name %></p>
                        </div>
                    </div>
                    <hr>
                    <div class="user-container__profile-body">
                        <div>
                            <p>Jobs done: </p><span><%= users[i].jobs %></span>
                        </div>
                        <div>
                            <p>Rating: </p><span><%= users[i].fullRating %></span>
                        </div>
                    </div>
                    <div class="user-container__profile-footer">
                        <ul>
                            <li>
                                <a href="/profile/<%= users[i].user_uid%>">
                                    <ion-icon name="person-outline" style="color: var(--blue);"></ion-icon>
                                </a>
                            </li>
                            <li>
                                <% if(users[i].client_favorite_mechanic_uid  && currentUser.user_uid === users[i].client_uid) {%>
                                <form action="/home/removeFav/<%= users[i].user_uid%>" method="POST"
                                    id="like<%= users[i].user_uid%>">
                                    <input type="checkbox" name="<%= users[i].user_uid%>"
                                        data-userId="<%= users[i].user_uid%>" value="<%= users[i].user_uid%>">
                                    <label for="users[i].user_uid">
                                        <button type="submit" class="icon-button"
                                            style="border: none;background: transparent;">
                                            <ion-icon name="heart" class="favorite" style="color: orangered;"></ion-icon>
                                        </button>
                                    </label>
                                </form>
                                <% } else {%>
                                <form action="/home/<%= users[i].user_uid%>" method="POST"
                                    id="like<%= users[i].user_uid%>">
                                    <input type="checkbox" name="<%= users[i].user_uid%>"
                                        data-userId="<%= users[i].user_uid%>" value="<%= users[i].user_uid%>">
                                    <label for="users[i].user_uid">
                                        <button type="submit" class="icon-button"
                                            style="border: none;background: transparent;">
                                            <ion-icon name="heart-outline" style="color: orangered;"></ion-icon>
                                        </button>
                                    </label>
                                </form>
                                <% } %>
                            </li>
                            <li>
                                <form action="/chat" method="post">
                                    <button type="submit" class="icon-button"
                                        style="border: none;background: transparent;">
                                        <ion-icon name="paper-plane-outline" style="color: var(--blue);"></ion-icon>
                                        <input type="hidden" name="user" value="<%= users[i].user_uid%>">
                                        <input type="hidden" name="user2" value="<%=currentUser.user_uid%>">
                                    </button>
                                </form>
                            </li>
                            <button class="job-btn" data-userId="<%= users[i].user_uid %>"
                                data-username="<%= users[i].first_name %> <%= users[i].last_name %>">
                                <li class="job-btn_list-item">
                                    <ion-icon name="briefcase" style="color: #784f28;"></ion-icon>
                                </li>
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="modal-bg">
        <div class="jobmodal">
            <h4 class="modal-title">Give Job to</h4>
            <h4 class="modal-title__name"></h4>
            <form action="" method="POST" class="job-form">
                <label for="typeOfService">Type Of Service</label>
                <select name="typeOfService" id="typeOfService">
                    <% for(let i = 0; i < typesOfServices.length; i++) {%>
                    <option value="<%= typesOfServices[i].type_of_service_uid%>"><%= typesOfServices[i].name%></option>
                    <% } %>
                </select>
                <label for="typeOfCar">Type Of Car</label>
                <select name="typeOfCar" id="typeOfCar">
                    <% for(let i = 0; i < userCarTypes.length; i++) {%>
                    <option value="<%= userCarTypes[i].type_of_car_uid%>"><%= userCarTypes[i].type_of_car_name%>
                    </option>
                    <% } %>
                </select>
                <label for="brandOfCar">Brand Of Car</label>
                <select name="brandOfCar" id="brandOfCar">
                    <% for(let i = 0; i < userCarBrands.length; i++) {%>
                    <option value="<%= userCarBrands[i].brand_of_car_uid%>"><%= userCarBrands[i].brand_of_car_name%>
                    </option>
                    <% } %>
                </select>
                <button type="submit" class="btn btn-primary modal-close2"> Give Job</button>
            </form>
            <span class="modal-close">
                <ion-icon name="close-circle-outline"></ion-icon>
            </span>
        </div>
    </div>
    <%- include('../includes/bottomnav.ejs')%>
    <script src="/js/home.js"></script>
    <%- include('../includes/end.ejs')%>