<%- include('../includes/start.ejs')%>
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <%- include('../includes/adminnav.ejs')%>
    <div class="container profilePage" id="move-left">
        <div class="profile-container">
            <div class="top-nav">
                <a href="/home">
                    <ion-icon name="home-outline"></ion-icon>
                </a>
                <p><%= user.first_name%> <%= user.last_name%></p>
                <ion-icon name="cog-outline" onclick="moveLeft()"></ion-icon>
            </div>
            <div class="contacts-profile">
                <img src="../<%= user.profile_pic %>" alt="">
                <div class="contact-info">
                    <div class="contact-info__name">
                        <p><%= user.first_name%> <%= user.last_name%></p>
                        <ion-icon name="cog-outline"></ion-icon>
                    </div>
                    <% if (user.account_uid ===  '4dbc4cb7-7ee6-4d04-a1ba-364ea6a5c949') {%>
                    <div class="profile-stats none">
                        <div class="profile-stat">
                            <p>2</p>
                            <small>job</small>
                        </div>
                        <div class="profile-stat">
                            <p>4.5</p>
                            <small>rating</small>
                        </div>
                    </div>
                    <% } %>
                    <a href="/profile/edit"><button>Edit Profile</button></a>
                </div>
            </div>
            <% if (user.account_uid ===  '4dbc4cb7-7ee6-4d04-a1ba-364ea6a5c949') {%>
            <div class="profile-stats phone">
                <div class="profile-stat">
                    <p>2</p>
                    <small>job</small>
                </div>
                <div class="profile-stat">
                    <p>4.5</p>
                    <small>rating</small>
                </div>
            </div>
            <% } %>
            <div class="profile-details">
                <h6>email</h6>
                <p><%= user.email%></p>
                <h6>telephone</h6>
                <p>+254<%= user.telephone %></p>
                <% if(user.website) {%>
                <h6>website</h6>
                <p>user.website</p>
                <% } %>
            </div>
        </div>
        <div class="settings-container">
            <div class="top-nav">
                <div class="top-nav__title">
                    <p>Settings</p>
                </div>
            </div>
            <ul class="settings-list">
                <a href="/profile/edit">
                    <li>
                        <ion-icon name="person-circle-outline"></ion-icon>
                        Edit your profile
                    </li>
                </a>
                <a href="/profile/change-password">
                    <li>
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        Change Password
                    </li>
                </a>
                <form action="/logout">
                    <li>
                        <ion-icon name="log-out-outline"></ion-icon>
                        Log out
                    </li>
                </form>
            </ul>
        </div>
    </div>
    <script src="/js/profile.js"></script>
    <%- include('../includes/bottomnav.ejs')%>
    <%- include('../includes/end.ejs')%>